body {
  text-align: center;
  background: rgba(247, 237, 224, 0.34)
}
/* Überschriften*/
          .ueberschriften {
            text-align: center;
            font-family: Apple Chancery, cursive;
            color: rgb(0, 0, 0)
          } 
          .ueberschriften2 {
            background-color: rgba(255, 182, 193, 0.504);
          }
                h1 {
                  background-color: rgba(255, 182, 193, 0.504);
                  font-size: 4em;
                  }
          h2 {
          font-size: 3em
          }
/* Design der links */
      a {
        text-decoration: none; 
        color: #555; 
        font-weight: bold; 
        text-align: center;
        font-size: 2em;
       }

        a:hover {
            color: lightpink; 
        }
        .link {
          text-align: center;
        }

/* Design des footers */
      footer {
          display: flex;
          justify-content: center; /* Horizontale Ausrichtung zentrieren */
          align-items: center; /* Vertikale Ausrichtung zentrieren */
          height: 200px; /* Höhe des Fußbereichs */
          div {
            margin-bottom: 30px; /* Unten 20px Abstand zwischen den Divs */

        }
        }

        img {
          max-width: 100%; /* Das Bild passt sich der Breite des Fußbereichs an */
          max-height: 100%; /* Das Bild passt sich der Höhe des Fußbereichs an */
          object-fit: cover; /* Das Bild wird proportional skaliert, um den Fußbereich auszufüllen */
        }

/* Seite 3 textfeld*/
    textarea {
      background-color: rgba(170, 150, 152, 0.305);
      color: #333;
      font-size: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
      width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }
    textarea:hover,
    textarea:focus {
        border-color: #7c74858c;
        box-shadow: 0 0 5px #7c74858c;
    }
/* Plus-Zeichen*/
      #addButton {
        background-color: lightpink;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 24px;
        cursor: pointer;
        animation: pulse 1.5s infinite alternate;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease;
      }

      @keyframes pulse {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
      }
      p {
        font-size: 25px;
      }
/* Bilder der Unterseiten*/
      .Bilder {
        height: 290px;
        width: 200px
      }

#elementToBeDeleted {
  color: lightpink;
  border: none; /* Entferne den Rand des Buttons */
  padding: 10px 20px; /* Füge etwas Abstand um den Text hinzu */
  cursor: pointer; /* Zeige die Hand als Cursor beim Überfahren des Buttons */
}

/* Ändere den Button-Stil, wenn der Mauszeiger darüber schwebt */
button:hover {
  background-color: lightpink; /* Hellere rosa Farbe */
}

/* Sternbewertung*/
      .stars {
        display: inline-flex; /* Ändert das Layout zu Flexbox */
        font-size: 24px;
        cursor: pointer;
        direction: rtl; /* Ändert die Richtung von rechts nach links */
      }

      .stars > input {
        display: none;
      }

      .stars > label:before {
        content: '\2605';
        margin: 5px;
      }

      .stars > label:hover:before,
      .stars > input:checked ~ label:before {
        content: '\2605';
        color: lightpink;
      }